apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
      version: "7.3.7"
  values:
    adminUser: admin
    adminPassword: admin
    persistence:
      enabled: true
      size: 10Gi
      storageClassName: local-path
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Loki
            type: loki
            access: proxy
            url: http://loki:3100
            isDefault: true
            jsonData:
              maxLines: 1000
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://prometheus-kube-prometheus-prometheus:9090
            jsonData:
              timeInterval: 15s
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: 'default'
            orgId: 1
            folder: ''
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        wordpress-logs:
          gnetId: 0
          revision: 0
          datasource: Loki
    service:
      type: ClusterIP
    ingress:
      enabled: false  # Using separate Ingress resource

