apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: loki
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
      version: "6.15.0"
  values:
    target: SingleBinary
    singleBinary:
      replicas: 1
      persistence:
        enabled: true
        size: 10Gi
        storageClassName: local-path
    gateway:
      enabled: false
    simpleScalable:
      replicas: 0
    read:
      replicas: 0
    backend:
      replicas: 0
    write:
      replicas: 0
    loki:
      auth_enabled: false
      useTestSchema: true
      commonConfig:
        replication_factor: 1
      storage:
        type: filesystem
    memcached:
      chunksCache:
        enabled: true
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        replicaCount: 1
      resultsCache:
        enabled: false
    canary:
      enabled: false

