apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 1h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: ingress-nginx
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      version: "4.11.7"
  values:
    controller:
      service:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/allow-shared-ip: "shared"
      nodeSelector:
        kubernetes.io/os: linux
      # Enable snippet annotations to allow custom Lua plugins
      allowSnippetAnnotations: true
      # Add Lua plugin to all server blocks to catch all 404s
      # This ensures 404s from any source are redirected to google.com
      serverSnippet: |
        # Custom Lua plugin to redirect 404 responses to google.com
        # Runs in header_filter phase to intercept 404 before response is sent
        header_filter_by_lua_block {
            if ngx.status == 404 then
                ngx.status = 302
                ngx.header["Location"] = "https://www.google.com"
                ngx.header.content_length = nil
            end
        }


