apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mysql
resources:
  - namespace.yaml
  - persistentvolumeclaim.yaml
  - secret.enc.yaml
  - deployment.yaml
  - service.yaml

