apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wordpress
resources:
  - namespace.yaml
  - persistentvolumeclaim.yaml
  - secret.enc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

